<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreame.tools.module_debug">

    <application>
        <provider
            android:name=".DebugContentProvider"
            android:authorities="${applicationId}.DebugContentProvider" />
    </application>
</manifest>