<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application android:supportsRtl="true">

        <activity
            android:name=".share.DeviceShareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.dreame.movahome.ShareDeviceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".share.confirm.FeatureShareConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".share.manage.ShareManagementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".share.users.ShareUserListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".share.update.FeatureUpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".share.detail.FeatureDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>